<!docytype html>
<html>
  <head>
    <title>Autenticação do Usuário</title>
    <meta charset="UTF-8">
    <!-- build:css stylesheets/404.min.css -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
    <!-- endbuild -->
  </head>
  <body>
  	<div class="container">
  		<h1>Erro 404</h2>
      <h2>Página não encontrada!<h2>  
      <h2><a href="/">Clique aqui para voltar para a página 
      principal</a></h2>
     
  	</div>
  </body>
</html>