<!docytype html>
<html>
  <head>
    <title>Autenticação do Usuário</title>
    <meta charset="UTF-8">
    <!-- build:css stylesheets/auth.min.css -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
    <!-- endbuild -->
  </head>
  <body>
  	<div class="container">
  		<figure class="text-center">
  			<img src="images/github-logo.png">
  		</figure>
  		<a href="/auth/github">
  			<h1 class="text-center">Entre pelo GitHub</h1>
  		</a>
  	</div>
  </body>
</html>